@model RestaurantCRUD.ViewModels.HomeViewModel

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<div>
       <div>
        <div class="row">
            @* @foreach (var resto in Model) *@
            @foreach (var resto in Model.Restaurants)
            {
                <div class="col-md-4 mb-2">
   
                    <div class="card booking-card">

                        <!-- Card image -->
                        <div class="view overlay">
                            <div class="mask rgba-white-slight"></div>
                        </div>

                        <div class="card-body">
                            <h4 class="card-title font-weight-bold">@Html.ActionLink(resto.Name, "Details", new {id = resto.Id})</h4>
                            @Html.ActionLink("Edit","Edit",new {id = resto.Id}) | @Html.ActionLink("Delete","Delete",new {id = resto.Id})
                        </div>

                    </div>
         
                </div>
            }
</div>
    </div>
</div>